:root {
--primary-color: #06106b;
--secondary-color: #010008;
}

1div {border: solid 1px;}
body{
	background-color: #f0f0f0;
	font-family: Verdana, fantasy;
}
*{
  color: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
  margin-bottom: 0.25em;
}

h2 {
  color: var(--secondary-color);
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}
h3 {
  color: var(--primary-color);
}
a {
  color: var(--primary-color);
}

.introinfo {
  float: right;
  margin-right: 60%;
}
.foto {
	width: 200px;
}
.contacts {
  margin-bottom: 2em;
}

.contact {
  display: flex;
  
  &__type {
    min-width: 90px;
  }
}

.experience {
  display: flex;
  margin-bottom: 2em;
  border-bottom: solid 1px;
}  

.experience:hover {
  background-color: lightgray;
}

.experience__date {
    min-width: 185px;
    margin-bottom: 1em;
  }
.experience__name {
    font-weight: bold;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 575px) {
  .experience {
    display: block;
  }
}